<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ProHardware</title>
  <meta name="description" content="Tu tienda en línea de hardware de calidad. Encuentra una amplia selección de productos para tus proyectos.">
  <meta name="keywords" content="hardware, tienda en línea, productos de hardware, proyectos">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/chat.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/realtimesproducts.css">
</head>

<body class="cosa">
    
  <header class="text-white py-3">
    <div class="contenedor">
      <div class="row">
        <div class="col">
          <h1 class="h3">ProHardware</h1>
          <p class="lead">Tu tienda de hardware en línea</p>
        </div>
        <div class="col-auto ml-auto mr-0">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/realtimeproducts">Real Time Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/chat">Chat</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>


  {{{body}}}

  <footer class="bg-dark text-white py-4">
    <div class="contenedor text-center">
      <p>&copy; 2023 ProHardware. Todos los derechos reservados.</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
